.headerContainer {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  gap: 64px;
  position: fixed;
  background-color: white;

  z-index: 10;
}

.navLinks ul {
  display: flex;
  color: var(--regular);
  gap: 45px;
}

.navLinks ul li {
  list-style: none;
}

.nav {
  text-decoration: none;
  color: var(--regular);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.getAppButton {
  color: white;
  background: var(--primary);
  padding: 24px;
  border-radius: 90px;
  text-decoration: none;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenu {
  display: none;
}
.dropdownMenu {
  display: none;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .getAppButton {
    display: none;
  }

  .hamburgerMenu {
    display: block;
  }

  .logo {
    max-width: 100%;
    height: auto;
    width: auto; /* Let the width adjust naturally based on height */
  }

  .dropdownMenu {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .dropdownMenu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dropdownMenu li {
    list-style: none;
  }
}
