.headerContainer {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  width: 100%;
  max-height: 100px;
  overflow: hidden;
  gap: 64px;
  position: fixed;
  background-color: white;

  z-index: 10;
}

.navLinks ul {
  display: flex;
  color: var(--regular);
  gap: 45px;
}

.navLinks ul li {
  list-style: none;
}

.nav {
  text-decoration: none;
  color: var(--regular);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.getAppButton {
  color: white;
  background: var(--primary);
  padding: 24px 36px;
  border-radius: 90px;
  text-decoration: none;
  position: relative;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburgerMenu {
  display: none;
}
.dropdownMenu {
  display: none;
}

.blur {
  background-color: black;
  height: 200px;
  width: 100%;
  position: absolute;
  z-index: 20;
}
.logo {
  max-width: 100%;
}
.getAppButton:hover {
  background: rgba(243, 116, 37, 1);
}
.wigly {
  position: absolute;
}

@media (max-width: 480px) {
  .buttons {
    flex-direction: column;
    gap: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .playstoreButton {
    font-size: 12px;
    padding: 16px 24px;
  }
  .logo {
    width: 150px;
    height: 50%;
  }
  .headerContainer {
    max-width: 100%;
    padding: 24px 28px 24px 28px;
    max-height: 80px;
  }
  .navLinks {
    display: none;
  }

  .getAppButton {
    display: none;
  }

  .footerBottom {
    margin-top: 20px;
  }
  @keyframes moveBurgerAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(60px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .moveBurger {
    animation: moveBurgerAnimation 1s ease-in-out alternate;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .navLinks {
    display: none;
  }

  .getAppButton {
    display: none;
  }

  .burger {
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out;
  }

  @keyframes moveBurgerAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(60px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .moveBurger {
    animation: moveBurgerAnimation 1s ease-in-out forwards;
  }

  .logo {
    width: 180px;
    height: 50%;
  }

  .dropdownMenu {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .dropdownMenu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dropdownMenu li {
    list-style: none;
  }
}
@media (min-width: 1890px) {
  .headerContainer {
    padding-left: 300px;
    padding-right: 300px;
  }
  .hamburgerMenu {
    display: none;
  }
}
