.buttonContainer {
  background-color: var(--primary);

  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-radius: 90px;
  font-size: 16px;
  font-weight: 500;
  gap: 6px;
}
