.footerContainer {
  background-color: rgba(250, 250, 250, 1);

  color: var(--regular);

  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footerSections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section span {
  font-size: 20px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section li {
  margin: 1.5rem 0;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.section li:hover {
  color: #ff7f50;
}

.copyright {
  text-align: center;

  font-size: 0.875rem;
}

.icon {
  margin-right: 5px;
  margin-top: 3px;
}

.heading {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .footerContainer {
    grid-template-columns: 1fr;
  }

  .footerSections {
    grid-template-columns: 1fr;
  }

  .socialMedia {
    justify-content: center;
  }
}
