.container {
  background-color: var(--secondary);
  margin: 64px;
  border-radius: 24px;
  padding: 24px 24px;
  display: flex;
}

.getStarted {
  display: flex;
  align-items: center;

  gap: 6px;
}

.getStartedText {
  font-size: 32px;

  color: white;
  text-align: end;
}

.title {
  font-size: 80px;
  font-weight: 700;
  color: white;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 40px;
}
.contentContainer {
  padding: 20px;
  border: 1px soid white;
}
