.container {
  background-color: rgba(243, 116, 37, 1);
  margin: 64px;
  border-radius: 24px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 40px 60px 40px 70px;
}

.account {
  height: 752px;
  width: 380px;
}

.getStarted {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.getStartedText {
  font-size: 32px;
  color: white;
  text-align: end;
}

.title {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  line-height: 40px;
}

.contentContainer {
  padding: 20px;
}

.button {
  background-color: var(--primary);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  display: flex;
  justify-content: end;
  gap: 15px;
  position: absolute;
  right: 60px;
  bottom: 25%;
}

.indicators {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 60px;
  bottom: 15%;
}

.slideContent {
  padding-top: 20px;
}

.slideText {
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-align: center;
}

@media (max-width: 480px) {
  .container {
    margin: 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 10px;
    padding-bottom: 48px;
  }
  .account {
    width: 190px;
    height: 370px;
  }
  .getStartedText {
    font-size: 24px;
    gap: 6px;
    margin-bottom: 12px;
  }

  .imageContainer {
    text-align: center;
  }

  .title {
    font-size: 30px;
    text-align: left;
    margin-top: 8px;
  }

  .subtitle {
    font-size: 16px;
    display: block;
    line-height: 35px;
  }
  .arrows {
    display: none;
  }

  .indicator {
    width: 12%;
  }
  .indicators {
    position: absolute;
    right: 2%;
    bottom: 24px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .star {
    width: 20px;
    margin-bottom: 15px;
  }

  .getStarted {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    margin: 24px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 10px;
    padding-bottom: 48px;
  }
  .account {
    width: 300px;
    height: 570px;
  }
  .getStartedText {
    font-size: 30px;
    gap: 6px;
    margin-bottom: 12px;
  }

  .imageContainer {
    text-align: center;
  }

  .title {
    font-size: 50px;
    text-align: left;
    margin-top: 8px;
  }

  .subtitle {
    display: block;
  }
  .arrows {
    display: none;
  }

  .indicator {
    width: 50px;
  }
  .indicators {
    position: absolute;
    right: 35%;
    bottom: 24px;
    gap: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .star {
    width: 20px;
    margin-bottom: 15px;
  }

  .getStarted {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 1890px) {
  .container {
    padding-left: 300px;
    padding-right: 300px;
  }

  .arrows {
    right: 17%;
    bottom: 25%;
  }

  .indicators {
    right: 17%;
    bottom: 15%;
  }
}
