* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif; /* Use the Poppins font */
}

:root {
  --primary: rgba(0, 71, 43, 1);
  --primarylight: rgba(0, 71, 43, 0.2);
  --secondary: #33c1ff;
  --regular: rgba(59, 59, 59, 1);
}
